@font-face {
    font-display: swap;
    font-style: normal;
    src: url("/public/fonts/Poppins-Medium.ttf");
    font-family: 'Poppins';
    font-weight: 500;
}
@font-face {
    font-display: swap;
    font-style: normal;
    src: url("/public/fonts/Poppins-Bold.ttf");
    font-family: 'Poppins';
    font-weight: 700;
}
@font-face {
    font-display: swap;
    font-style: normal;
    src: url("/public/fonts/PlayfairDisplay-Regular.ttf");
    font-family: 'Playfair Display';
    font-weight: 400;
}

@font-face{
    font-display: swap;
    font-style: normal;
    src: url("/public/fonts/Poppins-Regular.ttf");
    font-family: "Poppins";
    font-weight: 400;
}

@font-face{
    font-display: swap;
    font-style: normal;
    src: url("/public/fonts/PlayfairDisplay-Bold.ttf");
    font-family: "Playfair Display";
    font-weight: 700;
}