body {
    margin: 0;
    padding: 0;
    font-family: Poppins;
}

* {
    box-sizing: border-box;
    line-height: normal;
    font-family: inherit;
    margin: unset;
}

a {
    text-decoration: none;
    display: block;
}

input {
    background-color: transparent;
    width: 100%;
}

input:focus {
    outline: none;
}

ul {
    margin: 0;
    margin-inline: unset !important;
    padding: 0;
    list-style: none;
}

input[type="number"] {
    -moz-appearance: textfield;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    appearance: none;
    -webkit-appearance: none;
}

table {
    table-layout: fixed;
}

.alice-carousel__dots-item {
    cursor: pointer;
}